.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки на планшетах */
    }
}

@media (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr; /* 1 колонка на мобильных */
    }
}