.passwordrecovery-form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 16.3%;
}

.info{
    margin-top: 1rem;
}

.passwordrecovery-form input{
    height: 30px;
    width: 40%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
}